@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --bg-primary: #23232e;
  }

body::-webkit-scrollbar{
    width: 0.50rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}

.navbar{
    width: 90rem;
    height: 3rem;
    position: relative; top: -17px; left: 2%;
    background-color: var(--bg-primary);
    border-radius: 30px;
}

.navbar-nav{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.navbar-nav :is(p){
    color: rgb(255, 0, 0);
    font-size: 17px;
}

select{
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    margin-bottom:2px;
}

.select2{
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}

input{
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    margin-bottom:2px;
    margin-top: 50px;
}

label{
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: left;
}

.pop{
    position: relative; left: 272px;
}

.generoMusical{
    position: relative; top: 85px;
}

.labelNao{
    position: relative; left: -215px;
}

.nao{
    position: relative; left: 27px; top: -18px;
}

.comentario{
    position: relative; top: -75px;
}

.button1{
    position: relative; top: 5px;
}

fieldset{
    width:600px;
}

textarea{
    margin-top: 4px;
}

.div2{
    position: relative; top: 50px;
}
/* 5rem = 16px do root * 5 = 80px */
/* body::-webkit-scrollbar = ferramentas para modificar o scrollbar */
/* --text-primary: = variável global do CSS height: 100vh; */